* {
    background-color: lightgray;
    color: rgb(254, 254, 255);  
    font-family: Minion Web, Courier New, Courier, monospace; 
    text-align: center;
}
h1 {
    text-align:center;
    color: darkblue;
}
h2 {
    text-align:center;
    color: black;
}
p {
    text-align: justify;
    color: rgb(90, 3, 3);
}
.footer{
    color: mediumvioletred;
    text-align: center;
}
#a {
    color: aqua;
}
img {
    border: 2px solid black;
    height: 200px;
    width: 250px;
    padding: 0;
}